# program output
*.dat
*.stl
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
subtractiveModel

#CMAKE
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake

#Debug
vgcore.*

#Settings files
calib*.json
